/* - - - - - Hermes FB Black - - - - - */
@font-face
{ 
	font-family: 'HermesFBBlack'; 
	src: 	url('../fonts/Hermes/hermesfb-black-webfont.eot');
    src: url('../fonts/Hermes/hermesfb-black-webfont.eot?#iefix') format('embedded-opentype'),
         /* url('../fonts/Hermes/hermesfb-black-webfont.svg#HermesFBBlack') format('svg'), */
         url('../fonts/Hermes/hermesfb-black-webfont.woff') format('woff'),
         url('../fonts/Hermes/hermesfb-black-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HermesFBBlack'; 
	src: 	url('../fonts/Hermes/hermesfb-blackitalic-webfont.eot');
    src: url('../fonts/Hermes/hermesfb-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         /* url('../fonts/Hermes/hermesfb-blackitalic-webfont.svg#HermesFBBlackItalic') format('svg'), */
         url('../fonts/Hermes/hermesfb-blackitalic-webfont.woff') format('woff'),
         url('../fonts/Hermes/hermesfb-blackitalic-webfont.ttf') format('truetype');
	font-style: italic; 
}

/* - - - - - ITCFranklinGothicStd - - - - - */

@font-face
{ 
	font-family: 'ITCFranklinGothicStd'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-med_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-med_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-med_0-webfont.svg#ITCFranklinGothicStdMedium') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-med_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-med_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStd'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-medit_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-medit_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-medit_0-webfont.svg#ITCFranklinGothicStdMdIt') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-medit_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-medit_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdCondensed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-mdcd_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-mdcd_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-mdcd_0-webfont.svg#ITCFranklinGothicStdMdCn') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-mdcd_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-mdcd_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdCondensed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-mdcdit_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-mdcdit_0-webfont.eot?#iefix') format('embedded-opentype'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-mdcdit_0-webfont.svg#ITCFranklinGothicStdMdCnIt') format('svg'),
			url('../fonts/FranklinGothic/itcfranklingothicstd-mdcdit_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-mdcdit_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdHeavy'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-hvy_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-hvy_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-hvy_0-webfont.svg#ITCFranklinGothicStdHeavy') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-hvy_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-hvy_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdHeavy'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-hvyit_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-hvyit_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-hvyit_0-webfont.svg#ITCFranklinGothicStdHvIt') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-hvyit_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-hvyit_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdBook'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-book_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-book_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-book_0-webfont.svg#ITCFranklinGothicStdBook') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-book_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-book_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdBook'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bookit_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bookit_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-bookit_0-webfont.svg#ITCFranklinGothicStdBkIt') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-bookit_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-bookit_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdBookCondensed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bkcd_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bkcd_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-bkcd_0-webfont.svg#ITCFranklinGothicStdBkCn') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-bkcd_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-bkcd_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdBookCondensed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bkcdit_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bkcdit_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-bkcdit_0-webfont.svg#ITCFranklinGothicStdBkCnIt') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-bkcdit_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-bkcdit_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdBookCompressed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bkcp_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bkcp_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-bkcp_0-webfont.svg#ITCFranklinGothicBkCompressed') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-bkcp_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-bkcp_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdBookCompressed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bkcpit_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bkcpit_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-bkcpit_0-webfont.svg#ITCFranklinGothBkCompressedIt') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-bkcpit_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-bkcpit_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdBookExtraCompressed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bkxcp_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-bkxcp_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-bkxcp_0-webfont.svg#ITCFranklinGothiBkXCompressed') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-bkxcp_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-bkxcp_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdDemi'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-demi_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-demi_0-webfont.eot?#iefix') format('embedded-opentype'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-demi_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-demi_0-webfont.ttf') format('truetype');
			/* , url('../fonts/FranklinGothic/itcfranklingothicstd-demi_0-webfont.svg#ITCFranklinGothicStdDemi') format('svg') */
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdDemi'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-demiit_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-demiit_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-demiit_0-webfont.svg#ITCFranklinGothicStdDemiIt') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-demiit_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-demiit_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdDemiCondensed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmcd_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmcd_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-dmcd_0-webfont.svg#ITCFranklinGothicStdDemiCn') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmcd_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmcd_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdDemiCondensed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmcdit_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmcdit_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-dmcdit_0-webfont.svg#ITCFranklinGothicStdDemiCnIt') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmcdit_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmcdit_0-webfont.ttf') format('truetype');
			font-style: italic;
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdDemiCompressed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmcp_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmcp_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-dmcp_0-webfont.svg#ITCFranklinGothDemiCompressed') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmcp_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmcp_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'ITCFranklinGothDemiCompressed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmcp_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmcp_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-dmcp_0-webfont.svg#ITCFranklinGothDemiCompressed') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmcp_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmcp_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'ITCFranklinGothicStdDemiCompressed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmcpit_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmcpit_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-dmcpit_0-webfont.svg#ITCFranklinGoDemiCompressedIt') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmcpit_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmcpit_0-webfont.ttf') format('truetype');
	font-style: italic;
}


@font-face
{ 
	font-family: 'ITCFranklinGothicStdDemiExtraCompressed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmxcp_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmxcp_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-dmxcp_0-webfont.svg#ITCFranklinGotDemiXCompressed') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmxcp_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmxcp_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'ITCFranklinGotDemiXCompressed'; 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmxcp_0-webfont.eot'); 
	src: 	url('../fonts/FranklinGothic/itcfranklingothicstd-dmxcp_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/FranklinGothic/itcfranklingothicstd-dmxcp_0-webfont.svg#ITCFranklinGotDemiXCompressed') format('svg'), */
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmxcp_0-webfont.woff') format('woff'), 
			url('../fonts/FranklinGothic/itcfranklingothicstd-dmxcp_0-webfont.ttf') format('truetype');
}

/* - - - - - Helvetica LT Std - - - - - */
@font-face
{ 
	font-family: 'HelveticaLTStd'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-md-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-md-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-md-webfont.svg#HelveticaNeueLTStd65Medium') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-md-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-md-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaLTStd'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.svg#HelveticaNeueLTStd75Bold') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.ttf') format('truetype');
	font-weight: bold;
}

@font-face
{ 
	font-family: 'HelveticaLTStdBO'; 
	src: 	url('../fonts/Helvetica/helveticaltstd-boldobl-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaltstd-boldobl-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaltstd-boldobl-webfont.svg#helvetica_lt_stdbold_italic') format('svg'), */
			url('../fonts/Helvetica/helveticaltstd-boldobl-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaltstd-boldobl-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaLTStdRoman'; 
	src: 	url('../fonts/Helvetica/helveticaltstd-roman-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaltstd-roman-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaltstd-roman-webfont.svg#HelveticaLTStdRoman') format('svg'), */
			url('../fonts/Helvetica/helveticaltstd-roman-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaltstd-roman-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaLTStdBold'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.svg#HelveticaNeueLTStd75Bold') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaLTStdBold'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.svg#HelveticaNeueLTStd95Black') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.ttf') format('truetype');
	font-weight: bold;
}

/* - - - - - Helvetica Neue LT Std - - - - - */

@font-face
{ 
	font-family: 'HelveticaNeueLTStd'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-md-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-md-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-md-webfont.svg#HelveticaNeueLTStd65Medium') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-md-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-md-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStd'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.svg#HelveticaNeueLTStd75Bold') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.ttf') format('truetype');
	font-weight: bold;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBold'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.svg#HelveticaNeueLTStd75Bold') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-bd_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBoldCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bdcn_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bdcn_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-bdcn_0-webfont.svg#HelveticaNeueLTStd77BdCn') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-bdcn_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-bdcn_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBoldCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bdcno_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bdcno_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-bdcno_0-webfont.svg#HelveticaNeueLTStd77BdCnOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-bdcno_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-bdcno_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBoldExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bdex_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bdex_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-bdex_0-webfont.svg#HelveticaNeueLTStd73BdEx') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-bdex_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-bdex_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBoldExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bdexo_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bdexo_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-bdexo_0-webfont.svg#HelveticaNeueLTStd73BdExOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-bdexo_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-bdexo_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBoldOutline'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bdou_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-bdou_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-bdou_0-webfont.svg#HelveticaNeueLTStd75BdOutline') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-bdou_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-bdou_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBold'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.svg#HelveticaNeueLTStd95Black') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.ttf') format('truetype');
	font-weight: bold;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBlack'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.svg#HelveticaNeueLTStd95Black') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-blk_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBlackCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkcn_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkcn_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-blkcn_0-webfont.svg#HelveticaNeueLTStd97BlkCn') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-blkcn_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-blkcn_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBlackCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-xblkcn_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-xblkcn_0-webfont.eot?#iefix') format('embedded-opentype'), 
			url('../fonts/Helvetica/helveticaneueltstd-xblkcn_0-webfont.svg#HelveticaNeueLTStd107XBlkCn') format('svg'),
			url('../fonts/Helvetica/helveticaneueltstd-xblkcn_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-xblkcn_0-webfont.ttf') format('truetype');
	font-weight: bold;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdExtraBlackCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-xblkcn_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-xblkcn_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-xblkcn_0-webfont.svg#HelveticaNeueLTStd107XBlkCn') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-xblkcn_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-xblkcn_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBlackCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkcno_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkcno_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-blkcno_0-webfont.svg#HelveticaNeueLTStd97BlkCnOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-blkcno_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-blkcno_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBlackExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkex_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkex_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-blkex_0-webfont.svg#HelveticaNeueLTStd93BlkEx') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-blkex_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-blkex_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdBlackExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkexo_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkexo_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-blkexo_0-webfont.svg#HelveticaNeueLTStd93BlkExOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-blkexo_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-blkexo_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ex_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ex_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-ex_0-webfont.svg#HelveticaNeueLTStd53Extended') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-ex_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-ex_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-exo_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-exo_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-exo_0-webfont.svg#HelveticaNeueLTStd53ExOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-exo_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-exo_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkex_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkex_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-blkex_0-webfont.svg#HelveticaNeueLTStd93BlkEx') format('svg'),*/
			url('../fonts/Helvetica/helveticaneueltstd-blkex_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-blkex_0-webfont.ttf') format('truetype');
	font-weight: bold;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkexo_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-blkexo_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-blkexo_0-webfont.svg#HelveticaNeueLTStd93BlkExOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-blkexo_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-blkexo_0-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdHeavy'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-hv_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-hv_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-hv_0-webfont.svg#HelveticaNeueLTStd85Heavy') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-hv_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-hv_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdHeavyCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-hvcn_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-hvcn_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-hvcn_0-webfont.svg#HelveticaNeueLTStd87HvCn') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-hvcn_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-hvcn_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdHeavyCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-hvcno_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-hvcno_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-hvcno_0-webfont.svg#HelveticaNeueLTStd87HvCnOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-hvcno_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-hvcno_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdHeavyExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-hvex_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-hvex_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-hvex_0-webfont.svg#HelveticaNeueLTStd83HvEx') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-hvex_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-hvex_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdHeavyExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-hvexo_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-hvexo_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-hvexo_0-webfont.svg#HelveticaNeueLTStd83HvExOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-hvexo_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-hvexo_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdLight'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-lt_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-lt_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-lt_0-webfont.svg#HelveticaNeueLTStd45Light') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-lt_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-lt_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdLightCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ltcn_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ltcn_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-ltcn_0-webfont.svg#HelveticaNeueLTStd47LtCn') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-ltcn_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-ltcn_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdLightCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ltcno_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ltcno_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-ltcno_0-webfont.svg#HelveticaNeueLTStd47LtCnOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-ltcno_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-ltcno_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdLightExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ltex_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ltex_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-ltex_0-webfont.svg#HelveticaNeueLTStd43LtEx') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-ltex_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-ltex_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdLightExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ltexo_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ltexo_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-ltexo_0-webfont.svg#HelveticaNeueLTStd43LtExOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-ltexo_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-ltexo_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdThin'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-th_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-th_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-th_0-webfont.svg#HelveticaNeueLTStd35Thin') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-th_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-th_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdThinCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-thcn_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-thcn_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-thcn_0-webfont.svg#HelveticaNeueLTStd37ThCn') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-thcn_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-thcn_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdThinCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-thcno_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-thcno_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-thcno_0-webfont.svg#HelveticaNeueLTStd37ThCnOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-thcno_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-thcno_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdThinExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-thex_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-thex_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-thex_0-webfont.svg#HelveticaNeueLTStd33ThEx') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-thex_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-thex_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdThinExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-thexo_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-thexo_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-thexo_0-webfont.svg#HelveticaNeueLTStd33ThExOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-thexo_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-thexo_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdUltraLight'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ultlt_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ultlt_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-ultlt_0-webfont.svg#HelveticaNeueLTStd25UltraLt') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-ultlt_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-ultlt_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdUltraLightCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ultltcn_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ultltcn_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-ultltcn_0-webfont.svg#HelveticaNeueLTStd27UltraLtCn') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-ultltcn_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-ultltcn_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdUltraLightCondensed'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ultltcno_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ultltcno_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-ultltcno_0-webfont.svg#HelveticaNeueLTS27UltraLtCnOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-ultltcno_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-ultltcno_0-webfont.ttf') format('truetype');
	font-style: italic;
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdUltraLightExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ultltex_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ultltex_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-ultltex_0-webfont.svg#HelveticaNeueLTStd23UltraLtEx') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-ultltex_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-ultltex_0-webfont.ttf') format('truetype');
}

@font-face
{ 
	font-family: 'HelveticaNeueLTStdUltraLightExtended'; 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ultltexo_0-webfont.eot'); 
	src: 	url('../fonts/Helvetica/helveticaneueltstd-ultltexo_0-webfont.eot?#iefix') format('embedded-opentype'), 
			/* url('../fonts/Helvetica/helveticaneueltstd-ultltexo_0-webfont.svg#HelveticaNeueLTS23UltraLtExOb') format('svg'), */
			url('../fonts/Helvetica/helveticaneueltstd-ultltexo_0-webfont.woff') format('woff'), 
			url('../fonts/Helvetica/helveticaneueltstd-ultltexo_0-webfont.ttf') format('truetype');
	font-style: italic;
}